# config server
PORT=
HOST=""
NODE_ENV=''

# Allow origin CORS
ORIGIN_ALLOWED=""

# Redis configuration
REDIS_DATABASE=0
REDIS_URL=""

# Prisma Configuration
DATABASE_URL=""
DIRECT_URL=""

# Supabase Configuration
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_JWT_SECRET=""

# AI configuration
AI_API_URL=""