# config server
PORT=
HOST=""
NODE_ENV=""

# Allow origin CORS
ORIGIN_ALLOWED=""

# Redis configuration
REDIS_DATABASE=0
REDIS_URL=""

# Prisma and Supabase Configuration
DATABASE_URL="" # Connect to Supabase via connection pooling
DIRECT_URL="" # Direct connection to the database. Used for migrations
SUPABASE_URL=""
SUPABASE_ANON_KEY=""