# config server
PORT=
HOST=

# Allow origin CORS
ORIGIN_ALLOWED=

# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_DATABASE=

# Prisma and Supabase Configuration
# Connect to Supabase via connection pooling
DATABASE_URL=
# Direct connection to the database. Used for migrations
DIRECT_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=